apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: monitoring
resources:
  - namespace.yaml
  - deployment.yaml
  - service.yaml
  - service-nodeport.yaml  # Exposes metrics externally for Prometheus on xsvr1
