---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jitsi-config
  namespace: jitsi
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: longhorn
