---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: borgwarehouse-config-pvc
  namespace: borgwarehouse
spec:
  accessModes:
    - ReadWriteOnce
  storageClassName: longhorn
  resources:
    requests:
      storage: 1Gi
