apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - pvc-atuin-data.yaml
  - ./pvc-omada-data.yaml
  - ./pvc-omada-logs.yaml
  - ./pvc-lubelogger.yaml
  - ./pvc-freepbx.yaml
  - ./pvc-jellyfin-config.yaml
  - ./pvc-jellyfin-media.yaml
