apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: reflector
  namespace: kube-system
spec:
  interval: 5m
  chart:
    spec:
      chart: reflector
      version: "9.1.x"
      sourceRef:
        kind: HelmRepository
        name: emberstack
        namespace: flux-system
  values:
    kubernetes:
      podSecurityPolicy:
        enabled: false
