apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: oauth2-proxy
  namespace: traefik
spec:
  chart:
    spec:
      chart: oauth2-proxy
      version: "7.12.18"
      sourceRef:
        kind: HelmRepository
        name: oauth2-proxy
        namespace: flux-system
  interval: 5m
  values:
    replicaCount: 1
    revisionHistoryLimit: 3
    config:
      existingSecret: oauth2-proxy-creds
    extraArgs:
      - --provider=oidc
      - --oidc-issuer-url=https://idm.xrs444.net/oauth2/openid/x_traefik_dashboard
      - --redirect-url=https://traefik.xrs444.net/oauth2/callback
      - --email-domain=*
      - --upstream=static://202
      - --scope=openid email profile groups
      - --cookie-domain=.xrs444.net
      - --cookie-secure=true
      - --code-challenge-method=S256
      - --skip-provider-button=false
      - --set-xauthrequest=true

    service:
      enabled: true
      type: ClusterIP
      portNumber: 4180
