---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: netbox
resources:
  # Namespace
  - namespace-netbox.yaml

  # Secrets (from old deployment)
  - sealedsecret-netbox.yaml
  - oauth2-sealedsecret-netbox.yaml

  # Helm Repositories
  - helmrepository-netbox.yaml
  - helmrepository-diode.yaml

  # Helm Releases
  - helmrelease-netbox.yaml
  - helmrelease-diode.yaml
