---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: romm
  namespace: romm
spec:
  replicas: 1
  strategy:
    type: Recreate
  selector:
    matchLabels:
      app: romm
  template:
    metadata:
      labels:
        app: romm
    spec:
      containers:
        - name: romm
          image: rommapp/romm:latest
          ports:
            - containerPort: 8080
              name: http
          envFrom:
            - configMapRef:
                name: romm-env
          env:
            - name: DB_PASSWD
              valueFrom:
                secretKeyRef:
                  name: romm-db
                  key: password
            - name: OAUTH_CLIENT_SECRET
              valueFrom:
                secretKeyRef:
                  name: romm-oauth2
                  key: client-secret
          volumeMounts:
            - name: library
              mountPath: /romm/library
            - name: resources
              mountPath: /romm/resources
            - name: config
              mountPath: /romm/config
          livenessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 60
            periodSeconds: 10
            timeoutSeconds: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
            initialDelaySeconds: 30
            periodSeconds: 5
            timeoutSeconds: 3
          resources:
            requests:
              cpu: 200m
              memory: 512Mi
            limits:
              cpu: 2000m
              memory: 2Gi
      volumes:
        - name: library
          persistentVolumeClaim:
            claimName: romm-games
        - name: resources
          persistentVolumeClaim:
            claimName: romm-resources
        - name: config
          persistentVolumeClaim:
            claimName: romm-config
