---
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: netbox
resources:
  - namespace-netbox.yaml
  - pvc-netbox-media.yaml
  - pvc-netbox-reports.yaml
  - pvc-netbox-scripts.yaml
  - pvc-postgres-data.yaml
  - pvc-redis-data.yaml
  - configmap-netbox.yaml
  - oauth2-sealedsecret-netbox.yaml
  - sealedsecret-netbox.yaml
  - deployment-netbox.yaml
  - service-netbox.yaml
  - ingressroute-netbox.yaml
  - service-diode.yaml
  # Uncomment the line below to expose Diode externally
  # - ingressroute-diode.yaml
