apiVersion: apps/v1
kind: Deployment
metadata:
  name: omada-controller
  namespace: omada
  labels:
    app: omada-controller
spec:
  revisionHistoryLimit: 3
  replicas: 1
  selector:
    matchLabels:
      app: omada-controller
  template:
    metadata:
      labels:
        app: omada-controller
    spec:
      containers:
        - name: omada-controller
          image: mbentley/omada-controller:latest
          ports:
            - containerPort: 8088 # HTTP
              name: http
            - containerPort: 8043 # HTTPS
              name: https
            - containerPort: 8843 # Portal HTTPS
            - containerPort: 29810 # Controller Discovery
            - containerPort: 29811 # Controller Management
            - containerPort: 29812 # Controller Upgrade
            - containerPort: 29813 # Controller Discovery
            - containerPort: 29814 # Controller Management
          livenessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            initialDelaySeconds: 300
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 5
          readinessProbe:
            httpGet:
              path: /
              port: http
              scheme: HTTP
            initialDelaySeconds: 300
            periodSeconds: 30
            timeoutSeconds: 10
            failureThreshold: 3
          resources:
            requests:
              cpu: 100m
              memory: 2Gi
            limits:
              cpu: 1000m
              memory: 3Gi
          env:
            - name: TZ
              value: "UTC"
          volumeMounts:
            - name: omada-data
              mountPath: /opt/tplink/EAPController/data
            - name: omada-logs
              mountPath: /opt/tplink/EAPController/logs
      volumes:
        - name: omada-data
          persistentVolumeClaim:
            claimName: omada-data-pvc
        - name: omada-logs
          persistentVolumeClaim:
            claimName: omada-logs-pvc
