apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ./helmrepositories
  - ./storage
  - ./podinfo
  - ./metrics-server
  - ./lubelogger
  - ./freepbx
  - ./omada
  - ./craftycontroller
  - ./atuin
  - ./jellyfin
  - ./n8n
  - ./mealie
  - ./audiobookshelf
  - ./kube-state-metrics  # Exposes K8s metrics for Prometheus monitoring
