---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: synapse-config
  namespace: matrix
spec:
  storageClassName: longhorn-retain
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
